body {
  background-color: rgb(71, 68, 71);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

.cell {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(77, 77, 78);
  border: solid 2px rgb(28, 28, 29); ;
  opacity: 0.6;
}
.cell:hover{
  background-color: rgb(53, 53, 53);
  cursor: grab;
}
.shown{
  background-color: rgb(111, 111, 112);
}
.hidden{
  text-indent:-9999px;
}

.dificulty{
  border: double 2px rgb(45, 45, 46); ;
  background-color:  rgb(111, 111, 112);
  margin-top: 6px;
  margin-bottom: 4px;
  border-radius: 25%;
  width: 80px;
  font-size: 15px;
  color:black;
  opacity: 0.7;
}
.dificulty:hover{
  background-color: rgb(77, 77, 78);
  cursor:pointer;
}

.play-again{
  background-color:rgb(71, 68, 71);
  border: 0px solid transparent;
}
.play-again:hover{
  cursor:pointer;
}

.life{
  vertical-align: top;
  margin-top: 5px;
  display: inline-block;
  background-color:rgb(71, 68, 71);
  border: 0px solid transparent;
  border-radius: 25%;
  height: 22px;
  width: 75px;
}

.score, .stop-watch{
  display: inline-block;
  background-color:rgb(111, 111, 112);
  border: dashed 2px rgb(45, 45, 46);
  border-radius: 25%;
  width: 120px;
  font-size: 17px;
  font-weight: bold;
  color:black;
  padding: 3px;
  font-size: 15px;
  opacity: 0.6;
} 

.hint{
  background-color:rgb(71, 68, 71);
  border: 0px solid transparent;
  margin: 5px;
  height: 22px;
}
.hint:hover{
  cursor:pointer;
}

.safe{
  background-color: rgb(53, 53, 53);
}
.safe-click{
  vertical-align: top;
  margin-top: 5px;
  display: inline-block;
  background-color:rgb(111, 111, 112);
  border: dashed 2px rgb(45, 45, 46);;
  border-radius: 25%;
  height: 22px;
  width: 100px;
}
.safe-click:hover{
  cursor:pointer;
}

.game-over{
  font-weight: bold;
  font-size: 25px;;
  opacity: 0.5;
} 

.center {
  margin-left: auto;
  margin-right: auto;
}

.play-again{
  padding: 0;
  font-size: 25px;
}